<html lang="lt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programuotojai</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="header">
        <a href="/">Pradžia</a>
        <a href="/pridetiProgramuotoja">Pridėti programuotoją</a>
    </div>
    
